:root{
    --primary-color: #3347B0;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E5B657;
    --quaternary-color: #C11010;
    --primary-font: 'Roboto';
    --secondary-font: 'Poppins';
}
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container-aluno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 500px;
    height: 500px;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-aluno{
    width: 400px;
    height: 400px;
}
.container-status{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 60px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 600px;
    height: 500px;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-status-info{
    width: 100%;
    height: 100%;
}
.container-notas{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: 700;
    font-size: 1.2rem;
}
.notas-azul{
    color: var(--primary-color);
}
.notas-vermelho{
    color: var(--quaternary-color);
}
.notas-amarelo{
    color: var(--tertiary-color);
}
.container-progresso{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.container-barra{
    display: flex;
    align-items: flex-end;
    width: 16px;
    height: 300px;
    background-color: #EEEFF8;
}
.barra-azul{
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 24px #3347B0;
    background-color: var(--primary-color);
    width: 100%;
    height: 246px;
}
.barra-vermelho{
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 24px #C11010;
    background-color: var(--quaternary-color);
    width: 100%;
    height: 246px;
}
.barra-amarelo{
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 24px #E5B657;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 246px;
}
.container-disciplina{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 700;
}
/* MOBILE */
@media (max-width:640px){
    main{
        flex-direction: column;
        gap: 32px;
        height: auto;
        padding: 32px;
    }
    .container-aluno{
        width: 300px;
        height: 300px;
    }
    .img-aluno{
        width: 200px;
        height: 200px;
    }
    .name-aluno{
        text-align: center;
    }
    .container-status{
        width: 300px;
        height: 460px;
        justify-content: space-between;
        padding: 16px;
    }
}