:root{
    --primary-color: #3347B0;
    --secondary-color: #FFFFFF;
    --primary-font: 'Roboto'
}
.container-gerenciar{
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.text-gerenciar{
    font-family: var(--primary-font);
    font-size: 4rem;
    width: 520px;
}
.span-gerenciar{
    color: var(--primary-color);
    font-weight: 700;
}
.img-gerenciar{
    width: 436px;
    height: 262px;
}
.container-cursos-gerais{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.container-curso{
    width: 400px;
    height: 200px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
    transition: .5s;
    cursor: pointer;
}
.container-curso:hover{
    transform: scale(1.1);
}
.container-info-curso{
    display: flex;
    align-items: center;
    gap: 24px;
}
.container-info-curso i{
    color: var(--secondary-color);
    font-size: 64px;
}
.title-curso{
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

/* MOBILE */
@media (max-width:640px){
    .text-gerenciar{
        font-size: 2rem;
        width: 300px;
        text-align: center;
    }
    .img-gerenciar{
        display: none;
    }
    .container-curso{
        width: 300px;
        height: 160px;
    }
    .title-curso{
        font-size: 3rem;
    }
}