:root{
    --primary-color: #3347B0;
    --secondary-color: #FFFFFF;
    --primary-font: 'Roboto'
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEADER GERAL */
header{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
    padding: 0 96px;
}
.img-logo{
    height: 75px;
    width: 60px;
}
.container-logo{
    display: flex;
    gap: 12px;
}
.title-logo{
    width: 75px;
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-weight: 700;
}
.container-close{
    display: flex;
    gap: 12px;
}
.text-close{
    font-size: 2.2rem;
    color: var(--secondary-color);
    font-weight: 500;
}

/* FOOTER GERAL*/
footer{
    display: flex;
    height: 140px;
    width: 100%;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
    padding: 24px 96px;
}
.container-contato{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.container-icon{
    display: flex;
    gap: 24px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: 400;
    align-items: center;
}
.container-icon i{
    font-size: 1.6rem;
}
.copyright{
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: center;
}
.container-social{
    display: flex;
    gap: 20px;
    color: var(--secondary-color);
}
.container-icon-social{
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.container-icon-social:hover{
    background-color: #FFFFFF;
    color: var(--primary-color);
}
.container-icon-social i{
    font-size: 24px;
}

/* MOBILE */
@media (max-width:640px){
    header{
        justify-content: space-around;
        padding: 16px 0;
    }
    footer{
        flex-direction: column;
        height: auto;
        gap: 32px;
    }
    .copyright{
        display: none;
    }
    .container-social{
        flex-direction: column;
    }
}