:root{
    --primary-color: #3347B0;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E5B657;
    --primary-font: 'Roboto';
    --secondary-font: 'Poppins';
}
main{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}
.container-situacao{
    width: 150px;
    height: 100px;
    background-color: var(--primary-color);
    position: absolute;
    top: 136px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-evenly;
    padding: 26px;
    gap: 8px;
}
.container-ano{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-ano input{
    height: 24px;
    width: 80px;
    border-radius: 4px;
    border: none;
    outline: none;
    border: 2px solid var(--primary-color);
    margin-left: 8px;
}
.container-ano input:hover{
    outline: none;
}
.container-search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container-search i{
    position: absolute;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 2px;
    padding: 4px;
}
.text-status{
    cursor: pointer;
    transition: .5s;
}
.text-status:hover{
    transform: scale(1.1);
}
.container-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: 0.5s;
    cursor: pointer;
}
.container-info:hover{
    transform: scale(1.1);
}
.container-legenda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    height: 50px;
    width: 100%;
    background-color: #BCC2E5;
    font-family: var(--primary-font);
    color: var(--primary-color);
}
.container-status-geral{
    display: flex;
    gap: 24px;
}
.container-status{
    display: flex;
    gap: 8px;
}
.quadrado-cursando{
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
}
.quadrado-finalizado{
    width: 20px;
    height: 20px;
    background-color: var(--tertiary-color);
}
.title-main{
    padding: 36px 0px;
    font-family: var(--primary-font);
    font-size: 64px;
    font-weight: 500;
    color: var(--primary-color);
}
.container-card-gerais{
    display: flex;
    flex-wrap: wrap;
    padding: 34px;
    gap: 64px;
}
.container-card-cursando{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: var(--primary-color);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    font-family: var(--secondary-font);
    text-align: center;
    color: #fff;
    gap: 16px;
    transition: .5s;
    cursor: pointer;
}
.container-card-cursando:hover{
    transform: scale(1.1);
}
.container-card-finalizado{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: var(--tertiary-color);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
    font-family: var(--secondary-font);
    text-align: center;
    color: #fff;
    gap: 16px;
    transition: .5s;
    cursor: pointer;
}
.container-card-finalizado:hover{
    transform: scale(1.1);
}
.img-card{
    width: 200px;
    height: 200px;
}
/* MOBILE */
@media (max-width:640px){
    .container-legenda{
        justify-content: space-around;
        height: auto;
        padding: 0 0;
    }
    .container-status-geral{
        flex-direction: column;
        gap: 8px;
        padding: 16px;
    }
    .title-main{
        font-size: 2.8rem;
        text-align: center;
    }
    .container-card-gerais{
        justify-content: center;
    }
    .container-situacao{
        left: 22px;
        top: 164px;
        width: 120px;
        height: 120px;
    }
    .container-ano-info{
        left: 0;
    }
}